
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


body {
  background-color: black;
  color: white;
}
 
.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Bruno Ace SC', cursive;
}

.show-container {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.show-container img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.button-effect {
    display: block;
    transform: scale(1.0);
    transition: transform 0.23s ease-in-out;
  }
  
  .button-effect:hover {
    transform: scale(1.13);
    filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
    z-index: 999;
  }
  
  /* Disable hover effects on mobile */
  @media (max-width: 768px) {
    .button-effect:hover
    {
        transform: scale(1.0);
        filter: none;
    }
  }